.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Adjusted to 100vh for full height */
  align-items: stretch;
  background-color: #ffffff;
  justify-content: space-between; /* This will push the message list and input to opposite ends */
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 120px; /* Adjusted top margin for messages */
  padding: 100px; /* Adjusted padding for visual spacing */
}

.message-bubble {
  max-width: 80%; /* Adjust bubble width as needed */
  font-size: 20px; /* Increase text size */
  padding: 8px 16px;
  padding-right: 10px;
  border-radius: 12px;
  margin-bottom: 10px; /* Adjusted margin for spacing between messages */
  display: flex; /* Using flex for better alignment */
  word-wrap: break-word;
  margin-left: auto; /* For user messages */
}

.message-bubble.user {
  background-color: #4CAF50;
  color: white;
}

.message-bubble.system {
  background-color: #e0e0e0;
  color: black;
  margin-right: auto; /* For system messages */
}

.input-container {
  padding: 10px 0;
  margin-bottom: 0px; /* Adds spacing below the input container */
}

.input-container input {
  flex-grow: 1;
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 12px 20px 12px 15px; /* Increased padding for larger input field */
  border-radius: 8px;
}

.input-container button {
  padding: 12px 20px; /* Increased padding for larger button */
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}